@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var name = ViewData["Name"] as string;
    var age = (int)ViewData["Age"]!;

    var foo = new IndexModel().Foo;
}

@functions{
    string message(string str)
                        => str.ToUpper();
}

<div class="text-center my-class">
    <h1 class="display-4">Welcome</h1>
    <p>@message("Salam")</p>
    <p>@foo("ay pipyi qan xoruz")</p>

    @if(name is not null)
    {
        <p>Name: @name</p>
        <p>Age: @age</p>
    }
    else
    {
        <p>Name: @string.Empty</p>
        <p>Age: 0</p>
    }
</div>

